/* generic rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    margin-bottom: 100px;
}

main {
    width: 70%;
    margin: 20px auto;
}

/* general and single cars rules */

.card {
    width: calc(30% - 5px);
    height: 500px;
    float: left;
    margin: 50px 20px;
}

.topleft {
    height: 100%;
    background-image: url(../img/1.webp);
    background-size: cover;
    position: relative;
}

.topleft:hover {
    background-image: url(../imgb/1b.webp);
}

.topcenter {
    height: 100%;
    background-image: url(../img/2.webp);
    background-size: cover;
    position: relative;
}

.topcenter:hover {
    background-image: url(../imgb/2b.webp);
}

.topright {
    height: 100%;
    background-image: url(../img/3.webp);
    background-size: cover;
    position: relative;
}

.topright:hover {
    background-image: url(../imgb/3b.webp);
}

.btleft {
    height: 100%;
    background-image: url(../img/4.webp);
    background-size: cover;
    position: relative;
}

.btleft:hover {
    background-image: url(../imgb/4b.webp);
}

.btcenter {
    height: 100%;
    background-image: url(../img/5.webp);
    background-size: cover;
    position: relative;
}

.btcenter:hover {
    background-image: url(../imgb/5b.webp);
}

.btright {
    height: 100%;
    background-image: url(../img/6.webp);
    background-size: cover;
    position: relative;
}

.btright:hover {
    background-image: url(../imgb/6b.webp);
}

/* button setup */

#button {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 50px;
    color: white;
    border: none;
    background-color: #e8e8e8;
}

#button:hover {
    color: red;
    cursor: pointer;
}

#button:focus {
    color: red;
}

/* labels rules */

.discount{
    color: white;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    margin-top: 450px;
    background-color: rgb(252, 77, 106);
}

.sustain {
    background-color:rgb(0, 199, 116);
    margin-top: 450px;
    display: inline-block;
    color: white;
    padding: 5px;
    font-weight: bold;
}

/* product details */

h5{
    margin-top: 10px;
    font-weight: lighter;
}

h4 {
    text-transform: uppercase;
}

.redprice {
    color: red;
    font-weight: bold;
}

.barredprice {
    color: grey;
    text-decoration-line:line-through;
}