* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

main {
    width: 70%;
    margin: 20px auto;
}


.card {
    width: 30%;
    height: 500px;
    float: left;
    margin: 20px;
}

.topleft {
    height: 100%;
    background-image: url(../img/1.webp);
    background-size: cover;
}

.topleft:hover {
    background-image: url(../imgb/1b.webp);
}

.discount{
    color: white;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    margin-top: 450px;
    background-color: rgb(252, 77, 106);
}

.sustain {
    background-color:rgb(0, 199, 116);
    color: white;
    padding: 5px;
    font-weight: bold;
}

h5{
    margin-top: 10px;
}

h4 {
    text-transform: uppercase;
}

.redprice {
    color: red;
    font-weight: bold;
}

.barredprice {
    color: grey;
    text-decoration-line:line-through;
}